# This file contains the production dependencies for the Raspberry Pi.
# To install, run: pip install -r requirements.txt

mfrc522-python == 0.0.7
gpiozero == 2.0
requests

# RPi.GPIO is usually pre-installed or installed as a dependency of gpiozero on Pi.
# If not, uncomment the line below.
# RPi.GPIO == 0.7.1

# --- Frontend ---
flask == 3.1.3
flask_httpauth
markupsafe == 3.0.3
werkzeug == 3.1.6
waitress == 3.0.2
