<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript>
        $(function() {
            $("#led_on").click(function (event) {
                switch_led('on');
            }),
            $("#led_off").click(function (event) {
                switch_led('off');
            }),
            $("#toggle_relay").click(function (event) {
                toggle_relay();            })
        });
        function switch_led(status) {
            $.ajax({
               url: '/led/' + status,
               type: 'PUT',
               success: function(response) {
                   $("#led_status").text(status);
               }
            });
        }
        function toggle_relay() {
            $.ajax({
               url: '/relay/toggle',
               type: 'PUT',
               success: function(response) {
                   $("#relay_status").text('toggled');
               }
            });
        }
    </script>
</head>
<body>
<h1>Hardware test</h1>
<h2>LED</h2>
<p>Led status: <div id="led_status">unknown</div></p>
<input type="button" id="led_on" value="Turn led on" />
<input type="button" id="led_off" value="Turn led off" />
<h2>Relay</h2>
<p>Relay status: <div id="relay_status">unknown</div></p>
<input type="button" id="toggle_relay" value="Toggle relay" />
</body>
</html>