<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript>
        $(function() {
            $("#toggle_relay").click(function (event) {
                toggle_relay();
            }),
            $("#read_reed_1").click(function (event) {
                read_reed_1();
            }),
            $("#read_reed_2").click(function (event) {
                read_reed_2();
            })
        });
        function toggle_relay() {
            $.ajax({
               url: '/relay/toggle',
               type: 'PUT',
               success: function(response) {
                   $("#relay_status").text('toggled');
               }
            });
        }
        function read_reed_1() {
            $.ajax({
               url: '/reed1',
               type: 'PUT',
               success: function(response) {
                   $("#reed_status_1").text(response);
               }
            });
        }
        function read_reed_2() {
            $.ajax({
               url: '/reed2',
               type: 'PUT',
               success: function(response) {
                   $("#reed_status_2").text(response);
               }
            });
        }
    </script>
</head>
<body>
<h1>Hardware test</h1>
<h2>LED</h2>
<h2>Relay</h2>
<p>Status: <div id="relay_status">unknown</div></p>
<input type="button" id="toggle_relay" value="Toggle relay" />
<h2>Reed contact 1</h2>
<p>Status: <div id="reed_status_1">unknown</div></p>
<input type="button" id="read_reed_1" value="Read status of reed contact 1" />
<h2>Reed contact 2</h2>
<p>Status: <div id="reed_status_2">unknown</div></p>
<input type="button" id="read_reed_2" value="Read status of reed contact 2" />
</body>
</html>