<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript>
        $(function() {
            $("#toggle_relay").click(function (event) {
                toggle_relay();
            }),
            $("#reed_status_closed_door").click(function (event) {
                read_reed_closed_door();
            }),
            $("#reed_status_open_door").click(function (event) {
                read_reed_open_door();
            })
        });
        function toggle_relay() {
            $.ajax({
               url: '/relay/toggle',
               type: 'PUT',
               success: function(response) {
                   $("#relay_status").text('toggled');
               }
            });
        }
        function read_reed_closed_door() {
            $.ajax({
               url: '/reed/closed-door',
               type: 'PUT',
               success: function(response) {
                   $("#reed_status_closed_door").text(response);
               }
            });
        }
        function read_reed_open_door() {
            $.ajax({
               url: '/reed/open-door',
               type: 'PUT',
               success: function(response) {
                   $("#reed_status_open_door").text(response);
               }
            });
        }
    </script>
</head>
<body>
<h1>Hardware test</h1>
<h2>Relay</h2>
<p>Status: <div id="relay_status">unknown</div></p>
<input type="button" id="toggle_relay" value="Toggle relay" />
<h2>Reed contact closed door</h2>
<p>Status: <div id="reed_status_closed_door">unknown</div></p>
<input type="button" id="read_reed_closed_door" value="Read status of closed door reed contact " />
<h2>Reed contact open door</h2>
<p>Status: <div id="reed_status_open_door">unknown</div></p>
<input type="button" id="read_reed_open_door" value="Read status of open door reed contact" />
</body>
</html>